@charset "EUC-KR";

#menu {
  position: fixed;
  top: 0;
  left: 5;
  width: 100%;
  height: 120px;
  background-color: #c96;
  border-bottom: 1px solid #ccc;

}

.insidemenu {  width: 100%;
  background-color: #c96;
  border-bottom: 1px solid #ccc;

}

th{
	align-content:center;
}

td{
	align-content:center;
}
